@config "./tailwind.config.ts";
@import "tailwindcss";

:root {
  --black-100: #000000;
  --black-200: #2D2D2D;
  --black-400: #5B5B5B;
  --black-600: #8E8E8E;
  --black-800: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}